<p class="cart-status">
  <ng-container *ngIf="products$ | async as products">
    <ul *ngIf="products.length; else noProducts">
      <li *ngFor="let product of products">
        <span class="quantity">{{product.quantity}}</span>
        {{product.name}}
        <app-button text="+" (click)="onIncrement(product.id)"></app-button>
        <app-button text="-" (click)="onDecrement(product.id)"></app-button>
      </li>
    </ul>
    <ng-template #noProducts>
      No products added to cart.
    </ng-template>
  </ng-container>
</p>
